/* Main container covering the whole screen */
.mainScreenContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

/* Ensure containers are stacked with a lower z-index */
.pokemonContainer, .vsContainer, .dogContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  z-index: auto;
}

.pokemonContainer {
  position: relative; /* Ensure absolute children are positioned within these containers */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}

.vsContainer {
  /* background-color: lightpink; */
}

.dogContainer {
  position: relative; /* Ensure absolute children are positioned within these containers */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightblue; */
}

/* VS Logo styles */
.vsLogo {
  width: 25%;
  height: auto;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  animation: jump 1s ease-in-out infinite;
  z-index: 2;
  position: relative;
}

/* Card styling */
.pokemonCard {
  position: absolute;
  right: 2%;
  top: 4%;
  height: 96%;
  width: 45%;
  z-index: 4; /* Ensure the card is above other content */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.dogCard {
  position: absolute;
  left: 0.5%;
  top: 1%;
  height: 96%;
  width: 45%;
  z-index: 4; /* Ensure the card is above other content */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
}
/* Animation for VS Logo */

/* Brawl animation for VS Logo */
.vsLogo.spinAnimation {
  z-index: 1000;
  animation: spinAndGrow 2s linear forwards; /* Spin and grow for 2 seconds */
}

/* Keyframe for full 360-degree spin and scaling up */
@keyframes spinAndGrow {
  0% {
    transform: rotate(0deg) scale(1); /* Start at normal size */
  }
  50% {
    transform: rotate(180deg) scale(1.5); /* Halfway through the spin, grow to 1.5x size */
  }
  100% {
    transform: rotate(360deg) scale(2); /* Full spin and grow to 2x size */
  }
}

@keyframes jump {
  0% {
    transform: translateY(0) rotate(-55deg); /* Starting position */
  }
  50% {
    transform: translateY(-20px) rotate(-55deg); /* Mid jump */
  }
  100% {
    transform: translateY(0) rotate(-55deg); /* Landing */
  }
}
