.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: burlywood; */
  /* border: 20px solid saddlebrown; */
  width: 115vh;
  height: 50vw;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.productCard {
  width: 24vw;
  height: 18vh;
  margin: 0 10px;
  overflow: hidden;
  text-align: center;
  transform: scale(0.8);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.6;
  filter: contrast(0.8);
  border: 10px solid sienna;
  border-radius: 10px;
}

.cardAdditionalStyles {
  height: 100%;
  width: auto;
}

.activeProduct {
  transform: scale(1.2);
  opacity: 1;
  filter: contrast(1);
}

.navButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 50px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
}